/*
-----Structure of contents within topical box-----
*/
/*
This styling is structure within each topical box
*/
.QuizTopic {

    text-align: center;
    font-weight: 900;
    font-size: x-large;
    line-height: 1px;
    margin: 50px 100px 50px;   
    width: 25rem; 
    height: 20rem;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*
-----Structure of all topical boxes-----
*/
/*
This styling is to arrange all the topical boxes
in a glass-panel like arrangement structure
*/
section {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

/*
This is to style all the images within the index page
of the quiz section
*/
.animal {

    object-fit: contain;
    width: 350px; 
    height: 275px;

}

/*
This styling is to fix the color of the hyperlinks
within the index page of the quiz section regardless
of whether it has been visited or not
*/
.QuizTopic a, .QuizTopic a:visited {

    text-decoration: none;
    color: rgb(0, 0, 255);

}

/*
This styling is for when the user hovers the mouse
over any of the hyperlinks within the index page 
of the quiz section
*/
.QuizTopic a:hover {

    color: rgb(255, 0, 0);
    text-decoration: underline;

}


span {

    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 255);

}

/*
This styling is to style the images within the animal
pages for all the 3(easy, medium and difficult) levels
*/
.mainAnimals {

    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*
This styling is to format the questions for all the 
topics within all the 3 difficulty levels
*/
ol li {

    margin: 5px 25px 10px;

}

/*
This styling is to format the labeling of the answers to 
the questions
*/
ol li label {

    font-weight: 700;

}

/*
To style the header of the index page of quiz section
*/
h1 {

    font-size:40px;

}