/*
----------Styling for the quiz_crud section----------
*/

/*
Text color for the error messages
*/

.error {
	
	color: rgb(255, 0, 0);
	
}

/*
Styling for the CRUD success message in the index page
*/

#crudSuccess {

    color:rgb(0, 200, 0);

}

/*
Styling for the form submit buttons
*/

.submitButtons {

    background-color: rgb(0, 175, 0);

}

/*
To toggle the display property for the
CRUD form
*/

.hidden {
    display: none;
}



/*
----------Styling for the quiz_create page----------
*/

/*
Styling for the textbox of the quiz question
*/

#quizQuestion {

    width: 500px;
    height: 75px;

}



/*
----------Styling for the quiz_read and quiz_que_display pages----------
*/

/*
Styling for the Animal name and difficulty level
in the quiz_que_display page
*/

#titleAndDifficulty {
    
	text-align: center;
    text-decoration: underline;
    font-weight: 900;

}



/*
----------Styling for the quiz_update page----------
*/

#updatedQuizQue {

    width: 500px;
    height: 75px;

}

