* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    background: #2f7d32;
    color: white;
    margin: auto;
}

header p, h1 {

    text-align: center;

}

nav {
    background: #1f5b24;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    min-height: 600px;
    padding: 30px;
}

footer {
    background: #2f7d32;
    color: white;
    text-align: center;
    padding: 20px;
}

#quizIndex ol {

    line-height: 50px;
    padding: 5px 0px 0px 25px;

}

#quizIndex li {

    font-family: "Arial Black", sans-serif;
    font-weight: 900;

}

#quizIndex span {

    font-weight: 900;
    text-decoration: underline;

}

